{% extends "base.html" %} {% block content %}
<section class="hero">
    <div class="container">
        <h1>Hi, I'm {{ config.extra.author }}</h1>
        <div class="container-about">
            {% set about_page = get_page(path="about.md") %}
            {{about_page.content | safe }}
        </div>
        <p class="lead">{{ config.description }}</p>
        <div class="cta-buttons">
            <a
                href="https://github.com/LoreRealm?tab=repositories"
                class="btn btn-primary"
                >View Projects</a
            >
        </div>
    </div>
</section>

{% endblock %}
